<div>
  <div class="jumbotron"></div>
  <div class="productPageTitle">
    <h1>~ Meraki Art ~</h1>

</div>
<div class="form-group">
  <label for="usr">Search:</label>
  <input type="text" class="form-control" id="usr"
        [(ngModel)]='listFilter'>
</div>


<div class="row" *ngIf='products && products.length'>
        <div class="card col-sm-3" style="width:400px"
        *ngFor='let product of filterproducts'
        [routerLink]="['/products',product.productId]">
        <div class="imgClass">
            <img class="card-img-top"
            [src]='product.imageUrl'
            style="width:100%; height: 500px;">
        </div>
            <div class="card-body">
              <h4 class="card-title">{{product.productName}}</h4>
              <p class="card-text">{{product.description}}</p>
              <p><pm-star [rating]='product.starRating'></pm-star></p>
              <br>
              <span >{{product.price | currency :'USD':'symbol':'1.2-2'}}</span>

            </div>
          </div>

  </div>
</div>
