
    <div class="container-fluid" style="width:100% !important; height: 100%; margin:0! padding-top:60px;">
      <div class="row temp"  >  </div>
        <div class=" pageDiv">
           <a  [routerLink]="['/welcome']"><h1 class="PageTitle">{{pageTitle}}</h1></a>
         </div>
        <div class="row">
          <a  [routerLink]="['/about']">
            <h1 class="gallery1">About</h1>
          </a>
           <a  [routerLink]="['/products']">
              <h1 class="gallery " >Gallery</h1>
            </a>


            <a  [routerLink]="['/contact']">
              <h1 class="gallery2">Contact</h1>
            </a>
      </div>
